.bg-dark{
    background-color: #1E2A47 !important;
    color: #fff !important;
}

.bg-dark2{
    background-color: #141D2F !important;
    color: #fff !important;
}

.color-dark{
    color: #fff;
}
    