* {
  padding: 0;
  margin: 0;
}

/* Base Mobile */


.App {
  font-family: 'Space Mono', monospace;
  font-size: 15px;
  line-height: 25px;
  background-color: #F6F8FF;
  box-sizing: border-box;
  height: 100vh;
}

.info-container{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: red;
}


.App-darkmode {
  font-family: 'Space Mono', monospace;
  font-size: 15px;
  line-height: 25px;
  background-color: #141D2F;
  box-sizing: border-box;
  height: 100vh;
  color: #fff;
}

.App-container {
  padding: 25px;
}

h1 {
  font-weight: 400;
  font-size: 26px;
  line-height: 38px;
}

.tittle {
  color: #222731;
}

.tittle-dark {
  color: #fff;
}

h2 {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}

h3 {
  font-weight: 100;
  font-size: 14px;
  line-height: 24px;

}

h4 {
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.darklight {
  color: #4B6A9B;
  font-weight: 700;
  font-size: 15px;
}

/* Search Form */
.search-form {
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.339));
  gap: 2px;
}


.fa-magnifying-glass {
  color: #0079FF;
  font-size: 22px;
  margin-right: 4px;
}

.search-form__input {
  border: none;
  outline: none;
  font-size: 13px;
  width: 100%;
  background-color: transparent;
  font-family: 'Space Mono', monospace;
}

.search-form__btn {
  background-color: #0079FF;
  border: none;
  width: 80px;
  height: 45px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #ffff;
  font-weight: bold;
  font-family: 'Space Mono', monospace;
}


.user-list {
  color: #4B6A9B;
}

.user-li-dark {
  color: #fff;
}

.user-li-null {
  color: #bbbbbb;
}

.fa-regular {
  font-size: 20px;
  color: #4B6A9B;
  font-weight: bold;
  margin-right: 5px;
}


/* Responsive */

@media screen and (min-width: 584px){
  .App {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }

  .avatar-container img{
    width: 110px;
    height: 110px;
  }


  .info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }

  .search-form__input {
    font-size: 15px;
  }

  .user-info__container h2{
    font-size: 26px;
  }

  .user-info__container h3{
    font-size: 16px;
  }

  .App-darkmode {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .App-container {
    width: 578px;
  }

  .user-list {
    columns: 2;
    font-size: 16px;
  }

  .user-list li {
    padding: 10px;
  }

}

@media screen and (min-width: 900px) {
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .App-container {
    width: 730px;
  }
  
  .user-info__card{
    display: flex;
  }

  .avatar-container img{
    width: 150px;
    height: 150px;
  }

  
  .user-info__container{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .user-info__container{
    margin-left: 10px;
    margin-top: 20px;
  }


  .user-info{
    width:590px;
    margin-left: auto;
  }


}

.user-info__card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

